:root {
  --width-desktop: 80%;
  --bg-main-light-mode: #4c1036;
  --bg-second-light-mode: #71a9f7;
  --bg-third-light-mode: #c6d8ff8f;
  --text-light-mode: #000;
  --bg-dark-body: #131313;

  --bg-main-dark-mode: #71a9f7;
  --bg-second-dark-mode: #484848;
  --bg-third-dark-mode: #1d1d1da4;
  --text-dark-mode: #d5d5d5;
  --bg-light-body: #ededed;
}
.light {
  --bg-main: var(--bg-main-light-mode);
  --bg-second: var(--bg-second-light-mode);
  --bg-third: var(--bg-third-light-mode);
  --color-text: var(--text-light-mode);
  --bg-body: var(--bg-light-body);
}
.dark {
  --bg-main: var(--bg-main-dark-mode);
  --bg-second: var(--bg-second-dark-mode);
  --bg-third: var(--bg-third-dark-mode);
  --color-text: var(--text-dark-mode);
  --bg-body: var(--bg-dark-body);
}
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  color: var(--color-text);
  background-color: var(--bg-body);
  font-size: 14px;
  transition: background 200ms ease;
}
/******** PARTE DEL ENCABEZADP  ****************/
header {
  width: 100%;
  height: 60px;
  /* background-color: var(--bg-second); */
  position: fixed;
  top: 0;
  z-index: 999;
  transition: background 200ms ease;
  padding: 0 6.5rem;
}
header .header-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}
header .logo p {
  color: #fff;
  font-size: 24px;
  font-family: "Righteous", cursive;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header .logo p span {
  color: var(--bg-main);
  font-family: "Righteous", cursive;
}
header .switch-dark-mode {
  width: 50px;
  height: 25px;
  background-color: var(--bg-third);
  border-radius: 50px;
  font-size: 16px;
  position: relative;
}
header .switch-dark-mode .toggle-switch {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  border-radius: 50%;
  background-color: var(--bg-body);
  cursor: pointer;
  transition: all 300ms ease;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26);
}
.dark header .switch-dark-mode .toggle-switch {
  border: 1px solid #494949ab;
}
.dark .switch-dark-mode .toggle-switch {
  left: 100%;
  transform: translateX(-100%);
}
header .switch-dark-mode .icons {
  display: flex;
  justify-content: space-between;
}
header .switch-dark-mode span {
  /* background-color: red; */
  margin: 0 5px;
}
.dark .switch-dark-mode span i.fa-sun {
  color: rgb(209, 146, 8);
}
.switch-dark-mode span i.fa-moon {
  color: #ffffff;
}
header nav {
  height: 100%;
  /* background-color: red; */
}
header nav ul {
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  position: relative;
}
header nav ul .line {
  position: absolute;
  width: 50px;
  height: 50%;
  left: 0;
  background-color: var(--bg-third);
  transition: left 200ms, width 200ms;
  z-index: -1;
  border-radius: 50px;
}
header nav ul li {
  height: 100%;
}
header nav ul li a {
  display: block;
  height: 100%;
  padding: 0 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
  transition: background 0.3s ease, color 0.3s ease;
}
header nav ul li a:hover {
  color: #6a6a6a;
}
.dark header nav ul li a:hover {
  color: #fff;
}
header .fa-bars {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: none;
}
.fa-bars:active {
  transform: scale(0.9);
}
/*******************PORTADA  *****************/
.container-portada {
  width: 100%;
  /* height: calc(100vh - 60px); */
  height: 100vh;
  position: relative;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}
.container-portada > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}
.container-portada > img.active {
  opacity: 1;
  visibility: visible;
}
.container-scrolldown {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}
.container-scrolldown img {
  width: 100px;
  height: 100px;
}
.container-scrolldown > p {
  background-color: rgba(255, 255, 255, 0.205);
  color: #000;
  padding: 10px;
  border-radius: 50px;
  backdrop-filter: blur(15px);
}
/***************Barra lateral transparente  **************/
/* nose si el drop-filter alenta el celular al usarlo con transition */
.container-portada .container-portada-left-blur {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  backdrop-filter: blur(5px);
  background: rgba(182, 182, 182, 0.144);
  transition: clip-path 0.85s cubic-bezier(0.39, 0.575, 0.565, 1);

  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 1px 0px 2px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 1px 0px 2px 0px rgba(255, 255, 255, 0.2);
  clip-path: circle(0.3% at 0 50%);
  font-size: 16px;
  font-weight: 600;
  z-index: 10;
}
.container-portada .container-portada-left-blur.active {
  clip-path: circle(100%);
}

.container-portada .container-portada-card {
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.container-portada .container-portada-card > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px 0;
  object-fit: cover;
}
.container-portada .container-portada-card h1 {
  text-shadow: 2px 2px 2px #000;
}
.container-portada .container-portada-card span {
  font-size: 2.7rem;
  color: var(--bg-main);
}
.container-portada .container-portada-btn {
  backdrop-filter: blur(4px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-left: transparent;
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(50vh - 30px);
  left: 0;
  border-radius: 0 50% 50% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: left 540ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.container-portada .container-portada-btn.active {
  left: 50%;
}
.container-portada .container-portada-btn i {
  color: #fff;
  font-size: 32px;
  transition: transform 300ms ease;
}
.container-portada .container-portada-btn:active i {
  transform: scale(0.5);
}

.container-portada .container-portada-btn.active i {
  transform: rotate(180deg);
}

/**************************  CUERPO PRINCIPAL*********************/
main {
  margin-bottom: 4rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-all section {
  margin-top: 4rem;
  padding: 4rem 2rem;
  background-color: var(--bg-third);
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  transition: 0.3s;
}
.container-all section > h2 {
  background-color: var(--bg-body);
  display: inline-block;
  align-self: center;
  margin: 0 0 2rem;
  padding: 10px 20px;
  border-radius: 30px;
  text-align: center;
  color: var(--bg-main);
  font-weight: 300;
}
/************************* ACERCA DE  *************/
.content-about {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  flex-direction: row-reverse;
}
/* .content-about img {
  margin: 1rem;
  width: 250px;
  height: 250px;
  background-color: transparent;
} */
.content-about .text-about {
  background-color: var(--bg-body);
  padding: 15px 20px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-about .text-about img {
  margin-top: 2rem;
  width: 180px;
  height: 180px;
  background-color: transparent;
}
.top-line {
  background-color: var(--bg-main);
  width: 100%;
  height: 7px;
  position: absolute;
  left: 0;
  top: 0;
}

/************************     SKILLS      *****************/
#skills p {
  text-align: center;
}
.content-skills {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.content-skills .content-skills-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}
.content-skills .content-skill-card {
  background-color: var(--bg-body);
  width: 110px;
  height: 110px;
  padding: 15px 0;
  border-radius: 10px;
  margin: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.24);
  position: relative;
  overflow: hidden;
  font-size: 12px;
}
.content-skills .content-skill-card i {
  font-size: 2.8rem;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  transition: transform 0.3s ease, color 0.3s ease, background 0.2s ease;
}
.content-skills .content-skill-card i,
.content-skills .content-skill-card h3 {
  position: relative;
  z-index: 5;
}
i.fa-html5 {
  color: #e34c26;
}
i.fa-css3-alt {
  color: #2965f1;
}
i.fa-js-square {
  color: #f0db4f;
  background-color: #000;
}
i.fa-react {
  color: #60dafb;
}
i.fa-sass {
  color: #cc6699;
}
.content-skills .content-skill-card i.fa-git-alt {
  color: #f34f29;
}
.content-skill-card .background-hover {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  left: -50%;
  bottom: -50%;
  transition: width 0.5s ease, height 0.5s ease;
}
.content-skill-card:hover .background-hover {
  width: 250px;
  height: 250px;
}
.content-skill-card:hover i {
  transform: scale(1.2);
}
.content-skills .content-skill-card:hover i {
  color: #fff;
  background-color: transparent;
}
.content-skill-card.card-html .background-hover,
.content-skill-card.card-html:hover i {
  background-color: #e34c26;
}
.content-skill-card.card-css .background-hover {
  background-color: #2965f1;
}
.content-skill-card.card-js .background-hover {
  background-color: #f0db4f;
}
.content-skill-card.card-react .background-hover {
  background-color: #60dafb;
}
.dark .content-skill-card.card-react:hover h3 {
  color: #000;
}
.dark .content-skill-card.card-js:hover i {
  background-color: #000;
}
.dark .content-skill-card.card-js:hover h3 {
  color: #000;
}

.content-skill-card.card-sass .background-hover {
  background-color: #cc6699;
}
.content-skill-card.card-git .background-hover {
  background-color: #3d2d00;
}
.content-skills .content-skill-card.card-git:hover h3 {
  color: #fff;
}
/*barras skill  */
.skill-bars {
  width: 65%;
  padding: 25px 30px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  align-self: flex-start;
  /* align self : flex start quitara el strech */
}
.skill-bars .bar {
  margin: 20px 0;
}
.skill-bars .bar:first-child {
  margin-top: 0px;
}
.skill-bars .bar .info {
  margin-bottom: 5px;
}
.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
.skill-bars .bar .progress-line {
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
    0 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: var(--bg-main);
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bar .progress-line.html span {
  width: 70%;
}
.bar .progress-line.css span {
  width: 60%;
}
.bar .progress-line.js span {
  width: 50%;
}
/* .bar .progress-line.react span{
    width: 1%;
}
.bar .progress-line.sass span{
    width: 5%;
} */
.progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after {
  position: absolute;
  bottom: 18px;
  right: 0;
  max-width: 150px;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  20% {
    opacity: 1;
    background-color: #6665ee;
  }
  100% {
    opacity: 1;
  }
}
.progress-line.html span::after {
  content: "70%";
}
.progress-line.css span::after {
  content: "60%";
}
.progress-line.js span::after {
  content: "50%";
}
/* .progress-line.react span::after{
    content: "1%";
}
.progress-line.sass span::after{
    content: "5%";
  } */
/*************************** PROYECTOS  ********************/
.grid-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  transition: 0.3s;
}
.grid-projects .grid-card {
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.24);
}
.grid-projects .grid-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.55);
}
.dark img {
  filter: brightness(80%);
}
.grid-card h3 {
  font-weight: 400;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  transition: opacity 0.3s ease;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}
.grid-card:hover h3 {
  opacity: 0;
}
.grid-card .blur-bg-description {
  background-color: rgba(39, 39, 39, 0.75);
  color: #fff;
  /* backdrop-filter: blur(2px); */
  /* backdrop hace lento con transition */
  height: 100%;
  padding: 10px 10px;
  position: absolute;
  z-index: 10;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(100%);
  transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 10px;
}
.grid-card:hover .blur-bg-description {
  transform: translateY(0);
}
.herramientas-dev {
  font-size: 20px;
  display: flex;
  align-items: center;
}
.herramientas-dev i {
  margin-right: 10px;
}
.herramientas-dev i.fa-css3-alt {
  color: rgb(115, 160, 212);
}
.herramientas-dev i.fa-js-square {
  background-color: transparent;
}
.grid-card .blur-bg-description .blur-bg-text {
  margin-bottom: 15px;
  /* background-color: red; */
  height: 125px;
  overflow-y: auto;
}
.grid-card .blur-bg-description .blur-bg-text::-webkit-scrollbar {
  width: 5px;
}
.grid-card .blur-bg-description .blur-bg-text::-webkit-scrollbar-thumb {
  background-color: var(--bg-third);
  border-radius: 5px;
}
.grid-card .blur-bg-description .blur-bg-text::-webkit-scrollbar-track {
  background: transparent;
}

.grid-card .blur-bg-description a {
  background-color: var(--bg-main);
  color: #fff;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  transition: background 0.3s ease, color 0.1s ease;
  align-self: center;
  border: 1px solid var(--bg-main);
}
.grid-card .blur-bg-description a:hover {
  background-color: var(--bg-third);
  border: 1px solid var(--bg-third);
}
.grid-card .blur-bg-description a:active {
  background-color: var(--bg-third);
  color: #000;
}
.blur-bg-links a.color-second {
  background: transparent;
  border: 1px solid rgb(40, 223, 40);
  margin-left: 10px;
}
.blur-bg-links a.color-second:hover {
  border: none;
  background-color: var(--bg-third);
  border: 1px solid var(--bg-third);

  color: #fff;
}
/*************************** CONTACTO ***********************/
.contact {
  padding: 10px 20px;
  text-align: center;
}
.contact h2 {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 2rem;
}
.contact .contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact-icons a {
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 27px;
  transition: background 0.3s ease;
}

.contact a i {
  color: var(--bg-second);
}

.contact .contact-icons a.telegram:hover {
  background-color: #0088cc;
}
.contact .contact-icons a.github:hover {
  background-color: #1f1f1f;
}
.contact .contact-icons a.mail:hover {
  background-color: #0a384e;
}
.contact .contact-icons a.linkedin:hover {
  background-color: #0a66c2;
}

.contact-icons a.telegram:hover i {
  color: #fff;
}
.contact-icons a.github:hover i {
  color: #fff;
}
.contact-icons a.mail:hover i {
  color: #fff;
}
.contact-icons a.linkedin:hover i {
  color: #fff;
}
.contact img {
  width: 200px;
  height: 200px;
}

/****************PIE DE LA PAGINA  ************/
footer {
  width: 100%;
  color: #fff;
  font-size: 14px;
  background-color: var(--bg-second);
}
footer .container-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

/* width de los elementos */
body .width-desktop {
  width: var(--width-desktop);
  margin: 0 auto;
}

/***************** RESPONSIVE  *********************/
@media only screen and (max-width: 1080px) {
  header nav ul li a {
    font-size: 12px;
  }
  section > p {
    margin: 0 64px;
  }
  /* ABOUT */
  .content-about {
    margin: 0 64px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .content-about .text-about {
    margin-bottom: 2rem;
  }
  /* SKILLS */
  #skills p {
    text-align: left;
  }
  .content-skills {
    flex-direction: column;
    align-items: center;
  }
  .content-skills .content-skills-cards {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 2rem;
    transition: 0.3s;
  }
  .content-skills .content-skills-cards .content-skill-card {
    width: 100%;
    margin: 0;
  }
  .skill-bars {
    align-self: center;
    width: 80%;
  }

  /* PROYECTOS */
  .grid-projects {
    margin: 0 64px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 930px) {
  body {
    margin-bottom: 60px;
  }
  header {
    position: fixed;
    top: calc(100vh - 60px);
  }

  header .logo span {
    text-shadow: 0px 1px 1px rgba(191, 191, 191, 0.5);
  }
  header nav {
    position: fixed;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 60px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(13px);
    opacity: 1;
    transform: translateY(100vh);
    transition: transform 0.3s ease, top 0.3s ease;

    z-index: -1;
  }
  header nav.active {
    transform: translateY(0);
    top: 0;
  }
  header nav ul {
    flex-direction: column;
  }
  header nav ul .line {
    background: none;
  }
  header nav ul li {
    width: 100%;
  }
  header nav ul li a {
    color: #fff;
    font-size: 1.5rem;
    justify-content: center;
    font-weight: 500;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
  }

  body .container-portada {
    width: 100%;
  }
  .container-all section {
    padding: 2rem 0;
  }
  header .fa-bars {
    display: block;
  }
  /* barra lateral */
  .container-portada .container-portada-left-blur {
    border-radius: 20px;
    top: 10%;
    height: 45%;
    left: 50%;
    transform: translateX(-50%);
    clip-path: none;
    transition: width 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .container-portada .container-portada-left-blur h1,
  .container-portada .container-portada-left-blur span {
    font-size: 20px;
  }
  .container-portada .container-portada-btn {
    display: none;
  }
  /* ABOUT */
  .content-about {
    margin: 0 35px;
  }

  /* SKILLS */
  section > p {
    margin: 0 35px;
  }
  .content-skills {
    margin: 2rem 35px 0;
  }
  .content-skills .content-skills-cards {
    width: 100%;
  }
  .skill-bars {
    width: 100%;
  }

  /* PROYECTOS */
  .grid-projects {
    margin: 0 35px;
  }
}
@media only screen and (max-width: 740px) {
  header {
    padding: 0 2rem;
  }
  .container-portada .container-portada-left-blur {
    width: 70%;
  }
  .container-portada .container-portada-btn.active {
    left: 70%;
  }
  .container-portada .container-portada-card > img {
    width: 150px;
    height: 150px;
  }
  /*PRINCIPAL  */
  body .width-desktop {
    width: 95%;
    margin: 0 auto;
  }
  /* ABOUT */
  .content-about {
    margin: 0 15px;
  }
  /* SKILLS */
  section > p {
    margin: 0 15px;
  }
  .content-skills {
    margin: 2rem 15px 0;
  }
  .content-skills .content-skills-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .content-skills .content-skills-cards .content-skill-card {
    height: 150px;
  }
  .content-skill-card:hover .background-hover {
    width: 550px;
    height: 550px;
    bottom: -100%;
  }
  .content-skills .content-skill-card i {
    font-size: 4rem;
  }
  /* PROYECTOS */
  .container-all section {
    width: 90%;
  }
  .grid-projects {
    margin: 0 15px;
  }
}
@media only screen and (max-width: 500px) {
  header {
    padding: 0 1rem;
  }
  .header-content.width-desktop {
    width: 100%;
  }
  /* BARRA LATERAL */
  .container-portada-left-blur h1 {
    font-size: 1.6rem;
  }
  .container-portada-left-blur span {
    font-size: 2rem;
  }
  /* ABOUT */
  .content-about img {
    padding: 15px 0;
    border-radius: 10px;
  }
  /* PROYECTOS */
  .container-all section {
    width: 100%;
  }
  .grid-projects {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .grid-card .blur-bg-description a {
    padding: 5px 20px;
  }
}
